{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
    "serviceworker": true
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true
  },
  "rules": {
    "comma-dangle": 0
  }
}
