<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Semih Onay">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= message %></title>
  <link rel="stylesheet" href="public/stylesheets/icons">
  <link rel="stylesheet" href="public/stylesheets/material.indigo-orange.min.css">
  <script defer src="public/javascripts/material.min.js"></script>
  <link rel="stylesheet" href="public/stylesheets/error.css">
</head>

<body>
  <header>
    <h1><%= error.status %> <%= message %></h1>
  </header>
  <main>
    <pre><%= error.stack %></pre>
  </main>
  <script src="public/javascripts/index.js"></script>
  <script src="public/javascripts/material.min.js"></script>
</body>
</html>
