<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Semih Onay">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register to Push Messaging</title>
  <link rel="stylesheet" href="public/stylesheets/icons">
  <link rel="stylesheet" href="public/stylesheets/material.indigo-orange.min.css">
  <script defer src="public/javascripts/material.min.js"></script>
  <link rel="stylesheet" href="public/stylesheets/index.css">
</head>

<body>

  <header>
    <h1>Register to Push Messaging</h1>
  </header>
  <main>
    <p>Button should be enabled if your browser supports Service Workers.</p>
    <p>
      <button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Register for Notifications
      </button>
    </p>
    <section class="subscription-details js-subscription-details is-invisible">
      <h3>Your registration info</h3>
      <pre><code class="js-subscription-json"></code></pre>
    </section>
  </main>
  <script src="public/javascripts/index.js"></script>
  <script src="public/javascripts/material.min.js"></script>
</body>
</html>
